/* Bori */

.checkbox_devider {
	margin: 0px 0px;
}

.toggle-all {
    /* content: url(../../css/round_radio.png); */
    width: 20px;
    height: 20px;
    border: none; /* Mobile Safari */
    /* opacity: 0; */
}


.toggle-all + label {
    /* content: ">"; */
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 10px 10px 10px;
}

.toggle-all:checked {
    /* content: url(../../css/round_radio_checked.png); */
    color: #737373;
}